<h3 class="text-center">Orders summary per day</h3>
<%= month_calendar events: @orders  do |date, orders| %>
  <div class="day-date"><%= content_tag(:span, date.day) %></div>
  <div class="hide-for-future">
  <%= content_tag(:span, "number: #{orders.length}", class: "hide-for-future") %>
  <br>
  <%= content_tag(:span, "day total: #{orders.sum{ |e| e[:total]}}$") %>
  <br>
  <%= link_to('to orders', orders_path(:date => date), class: "hide-for-future") %></div>
<% end %>
