<!DOCTYPE html>
<html>
  <head>
    <title>Tarragon&Sulguni launch delivery service</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <%= render "shared/navigation" %>
    <div class="container">
        <div class="row">
          <div class="col-6 col-md-4">
            <%= render "shared/flash" %>
            <%= yield %>
          </div>

          <div class="col-md-8">
          </div>
      </div>
    </div>

  </body>
</html>
